html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Overpass, sans-serif;
    background-color: rgb(62, 85, 107);
    overflow: hidden;
}

@font-face {
    font-family: RonduitCapitals;
    src: url('ronduitCapitals.otf') format("opentype");
}